/* styles the body as a hole */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:10px;
    min-height: 100vh; /* Ensures full-page layout */   
    display: flex;
    flex-direction: column;
    align-items: flex-start; //En la direccion horizontal, los trae todos al principio
}

/* style the container containing the div squares (that has an id="container")*/
#container{
    align-self: stretch; /*hace que SOLO este item del flex en el que esta (body) se estire en horizontal*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.rowstyle {
    flex: 1;
    display: flex;
}

/* Style the div squares (that have a "content" class)*/
.content {
    background-color: white; /* White background */
    flex: 1;
}

.button1 {
    background-color: aquamarine;
    border: 1px solid black; /* Black border */
    font-size: 20px;
    padding: 15px 30px;
    margin: 20px 0px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block; /*prevent full width*/
    text-align: center;
    
}


.button2 {
    display: inline-block; /*prevents full width*/
    background-color: pink;
    border: 1px solid black; /* Black border */
    font-size: 15px;
    padding: 15px 30px;
    margin: 20px 0px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}